@font-face{
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

body{
    background-image: url("../img/background.png");
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    z-index: 2;
}

table {
    background: #fff;
    border: 3px solid lightblue;
    margin: 10px auto;
    border-collapse: collapse;
    outline: 1px solid lightblue;
    outline-offset: 5px;
    box-shadow: 0 0 1px 4px lightblue;
}


.container{
    margin: 0 auto;
    width: 700px;
    text-align: center;
    position: relative;

}

.gameField{
    background-image: url(../img/tetris-background-tetris-2005949861.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;

}

.tmpFigure{
    position: absolute;
    top: 34px;
    left: 80px;
}

label{
    color: white;
}

#info{
    margin-top: 10px;
    color: white;
}

.cell, .tmpCell{
    width: 25px;
    height: 25px;
    /*border: 1px dotted rgba(0, 0, 0, 0.2);*/
}

.I{
    background-color: lightblue;
}

.O{
    background-color: yellow;
}

.J{
    background-color: blue;
}

.L{
    background-color: orange;
}

.S{
    background-color: green;
}

.T{
    background-color: purple;
}

.Z{
    background-color: red;
}

#message{
    display: none;
    background-color: lightgreen;
}

.figure{
    box-shadow: inset 0px 0px 1px 2px;
    border-radius: 5px;
}

#score{
    margin: 10px auto;
}

caption{
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
}

#gameOver{
    position: absolute;
    top: -200px;
    left: 1%;
    font-weight: 900;
    font-size: 103px;
    color: brown;
    text-shadow: 2px 2px 4px black;
    animation: moveGameOver 1s forwards;
    display: none;
}

@keyframes moveGameOver {
    to{
        text-shadow: 8px 8px 5px black;
    }

}

button{
    border-radius: 5px;
    margin: 10px 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    transition: 200ms;
}

button:hover{
    box-shadow: 0 3px 1px lightgray;
    transform: scale(1.05);
    transition: 200ms;
}

button:active{
    box-shadow: none;
    transform: scale(1);
    transition: none;
}


#speedMessage {
    position: absolute;
    top: 200px;
    left: 0%;
    font-weight: 900;
    font-size: 58px;
    color: blue;
    text-shadow: 2px 2px 4px black;
    display: none;
}
